.ant-card-meta-title {
  color: #fff;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  margin: 0 0 40px 0!important;
  font-size: 1.6rem;
}

.cardbar{
  padding:0 10px
}
.ant-card-meta-description {
  color: #fff
}

.cardDes {
  display: flex;
  margin: 0 auto 1rem;
  width: 80%;
}

.cardDes .left {
  flex:1;
  text-align: center;
  border-right: 1px solid #333;
}

.cardDes .cardDesnum{
  font-size: 1.8rem;
  margin: 0 0 .6rem;
  font-weight: 600;
}


.cardDes .right {
  flex:1;
  text-align: center;
}